<h1 mat-dialog-title>{{baslik}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Adı</mat-label>
            <input matInput formControlName="KullaniciAdi" name="KullaniciAdi" type="text" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Soyadı</mat-label>
            <input matInput formControlName="KullaniciSoyadi" name="KullaniciSoyadi" type="text" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-Posta</mat-label>
            <input matInput formControlName="KullaniciMail" name="KullaniciMail" type="email" required>
            <mat-error>
                Lütfen geçerli bir e-posta adresi giriniz.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="KullaniciTel" name="KullaniciTel" type="text" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Üye Tipi</mat-label>
            <mat-select matInput formControlName="KullaniciTipId" name="KullaniciTipId" required>
                <mat-option *ngFor="let kullaniciTip of kullaniciTipler" [value]="kullaniciTip.KullaniciTipId">{{kullaniciTip.KullaniciTipAd}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <br>
    <mat-card-actions>
        <button class="mr-3" mat-raised-button color="primary" [disabled]="form.invalid" (click)="dialogRef.close(form.value)">
            <mat-icon>save</mat-icon> Kaydet</button>
        <button mat-raised-button color="warn" (click)="dialogRef.close()">
            <mat-icon>block</mat-icon> Kapat</button>
    </mat-card-actions>
</div>